<div class="row">
  <div class="span3">
    <div class="well">
      <ul class="nav nav-pills nav-stacked">
        <% Refinery::News::Item.all.each do |item| %>
          <li>
            <%= link_to item.title, refinery.news_item_path(item) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div class="well">
      <div class="editable-long-text" data-object="news" data-id="<%= @item.id %>" data-attribute="body">
        <%= raw @item.body %>
      </div>
    </div>
  </div>
</div>
