<div class="navbar-content">
  <ul class="nav ">
    <li class="active">
      <a href="#">Accueil</a>
    </li>
    <li>
      <a href="#">Actualités</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</div>
