<footer>
  <div class="btn-toolbar">
    <button class="btn editing-mode" data-toggle="button" type="button">Mode editon</button>
    <button class="btn save" type="button">Sauvegarder</button>
    <button class="btn btn-danger cancel" type="button">Cancel</button>
  </div>
</footer>
